body.fanhe-chrome {
}
#navigation {
    float: right;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: #fff;
    margin: 0!important;
    padding: 0;
    left: 0;
    height: 45px;
    border-bottom: 1px solid #eee;
    box-shadow: 1px -11px 27px #000;
}
body.fanhe-chrome #navigation>div {
    margin: 0 auto;
}
#container {
    margin-top: 40px!important;
}
#searchr form {
    top: 10px!important;
}
#searchr {
    position: fixed!important;
    top: 0;
    right: 100px;
    width: 200px;
    z-index: 10000;
}
#searchr-input, #searchr-submit {
    border-color: rgba(204, 204, 204, 0.4)!important;
    border-radius: 15px 0 0 15px;
}
#searchr-submit {
    border-radius: 0 15px 15px 0;
}
#header .global-header-anchor {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    z-index: 10000;
}
#header .global-header-anchor .global-header-content {
    width: 100px;
    height: 40px;
    background-size: contain;
    background-position-y: 10px;
}
#navigation ul {
    height: 45px;
    line-height: 39px;
    font-size: 14px;
}

body.fanhe-chrome #sidebar {
    position: absolute;
    left: 5px;
    width: 290px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    padding: 0;
}

body.fanhe-chrome #friends {
    width: 290px;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}
body.fanhe-chrome #friends b {
    display: none;
}
body.fanhe-chrome #goodapp{
    right: auto;
    width: 270px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}
#sidebar #navtabs {
    padding-bottom: 10px;
}

body.fanhe-chrome .stabs{
    background: #fff;
    border-radius: 5px;
    margin-left: 0px;
}   
body.fanhe-chrome #sidebar .stabs {
    border-bottom-color: none;
    width: 270px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-left: 0;
    margin-top: 10px;
    padding-bottom: 10px;
}
body.fanhe-chrome #sidebar .sect {
    background: #fff;
    width: 275px;
    border-radius: 5px;
    margin-left: 0px;
    margin-left: 0;
    padding-bottom: 10px;
}
#phupdate {
    width: 572px!important;
    background: rgba(255, 255, 255, 0.58)!important;
    margin: -20px 0 0px!important;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}
#reminder {
    margin: 63px 80px 40px 90px!important;
    margin-bottom: 40px!important;
    display: none;
}

#user_stats {
    margin-left: 10px;
    margin-top: 118px;
}
#user_stats .count {
    font-size: 14px;
    font-family: sans-serif;
    color: cadetblue;
}
.slogan {
    text-indent: inherit!important;
    background:none!important;
}

#phupdate textarea {
    width: 552px!important;
    border-radius: 5px;
}
#phupdate .textarea-wrapper {
    border: 4px solid #f3f7f8;
    width: 560px!important;
    border-radius: 10px;
}

@media (min-width: 1200px) {
    body.fanhe-chrome #navigation>div {
        width: 1190px;
        left: 50%;
        margin-left: -595px;
    }
    body.fanhe-chrome  #container {
        width: 1190px;
        position: relative;
    }
    body.fanhe-chrome #sidebar {
        position: absolute;
        left: 10px;
        width: 274px;
        border-radius: 5px;
        background-color: transparent;
    }
    body.fanhe-chrome #user_top {
        margin-bottom: 10px;
        background: #fff;
        width: 270px;
        height: 146px;
        position: absolute;
        z-index: -1;
        /* margin: initial; */
        padding: 10px;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -210px;
    }
    body.fanhe-chrome #user_top h3 {
        margin-top: 75px;
        margin-left: 90px;
    }
   
    body.fanhe-chrome #user_top img {
        width: 72px;
        height: 72px;
        border-radius: 10px;
        border: 5px solid #fff;
        margin-top: 30px;
    }
    body.fanhe-chrome #user_top a {
        margin-right: 50px;
    }
    
    body.fanhe-chrome #main {
        margin-left: 350px;
        width: 554px;
        padding-left: 310px;
        /* position: absolute; */
        background: none;
        
    }
    body.fanhe-chrome #friends {
        left: 900px;
        right: auto;
        top: 0;
        width: 278px;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        box-sizing: border-box;
        padding: 10px;
    }
    body.fanhe-chrome #friends b {
        display: none;
    }
    body.fanhe-chrome #goodapp{
        left: 900px;
        right: auto;
        top: 205px;
        width: 256px;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        padding: 10px;
    }
    body.fanhe-chrome #content {
        border: none;
        background: #fff;
        padding: 10px;
    }
    body.fanhe-chrome  #stream .wa li {
        width: 500px;
        padding-bottom: 37px!important;
    }
    #stream .wa li .op {
        display: block;
        bottom: 2px!important;
        width: 400px!important!important;
        height: 30px!important;
        top: auto!important;
        left: 50px!important;
    }
    #stream .wa li {
        padding: 9px 10px 12px 62px!important;
    }
    #stream li .op a {
        display: block!important;
        float: left!important;
        margin: 0 10px;
        right: auto!important;
        z-index: 1;
        
    }
    #stream li span.op a {
        visibility: visible!important;
    }
    #phupdate {
        width: 572px!important;
        background: rgba(255, 255, 255, 0.58)!important;
        margin: -20px 0 0px!important;
        padding: 10px;
        border-radius: 5px 5px 0 0;
    }
    #reminder {
        margin-left: 82px;
    }
    .slogan {
        text-indent: inherit!important;
        background:none!important;
    }

    #phupdate textarea {
        width: 552px!important;
        border-radius: 5px;
    }
    #phupdate .textarea-wrapper {
        border: 4px solid #f3f7f8;
        width: 560px!important;
        border-radius: 10px;
    }
}


@media (max-width: 1200px) {
    body.fanhe-chrome #navigation>div {
        width: 900px;
        left: 50%;
        margin-left: -450px;
    }
    body.fanhe-chrome  #container {
        width: 900px;
        position: relative;
    }
    
    body.fanhe-chrome #user_top {
        margin-bottom: 10px;
        background: #fff;
        width: 270px;
        height: 146px;
        position: absolute;
        z-index: -1;
        /* margin: initial; */
        padding: 10px;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -210px;
    }
    body.fanhe-chrome #user_top h3 {
        margin-top: 75px;
        margin-left: 90px;
    }
   
    body.fanhe-chrome #user_top img {
        width: 72px;
        height: 72px;
        border-radius: 10px;
        border: 5px solid #fff;
        margin-top: 30px;
    }
    body.fanhe-chrome #user_top a {
        margin-right: 50px;
    }
    body.fanhe-chrome #main {
        margin-left: 350px;
        width: 554px;
        padding-left: 310px;
        /* position: absolute; */
        background: none;
        
    }
    body.fanhe-chrome #content {
        border: none;
        background: #fff;
        padding: 10px;
    }
    body.fanhe-chrome  #stream .wa li {
        width: 500px;
        padding-bottom: 37px!important;
    }
    #stream .wa li .op {
        display: block;
        bottom: 2px!important;
        width: 400px!important!important;
        height: 30px!important;
        top: auto!important;
        left: 50px!important;
    }
    #stream .wa li {
        padding: 9px 10px 12px 62px!important;
    }
    #stream li .op a {
        display: block!important;
        float: left!important;
        margin: 0 10px;
        right: auto!important;
        z-index: 1;
        
    }
    #stream li span.op a {
        visibility: visible!important;
    }
    
}
